$breakpoint-xsmall: 320px;
$breakpoint-small: 375px;
$breakpoint-small-medium: 410px;
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1440px;

$border-width-small: 0.3125rem;
$border-width-large: 0.625rem;
