$breakpoint-medium: 640px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1440px;

$padding-small-breakpoint: 4rem 3rem;
$padding-medium-breakpoint: 5rem;
$padding-large-breakpoint: 7rem 2rem;
